name: boardfarm-bdd-openwrt
---
# OpenWrt RPi Gateway Configuration
# This compose file is used with a physical Raspberry Pi running OpenWrt
# instead of the containerized PrplOS CPE.
#
# Architecture:
#   - OpenWrt RPi WAN connects directly to rtr-wan network (172.25.1.x)
#   - OpenWrt gets its WAN IP from DHCP container (172.25.1.20)
#   - Router container acts as gateway to internet (eth1 on rtr-wan, aux0 on rtr-uplink)
#   - LAN containers connect to OpenWrt's LAN side
#
# USB-Ethernet dongles on host:
#   - enx00e04c5b7570 -> rtr-wan bridge (RPi WAN side, same network as DHCP/ACS)
#   - enx00e04c327b58 -> lan-cpe bridge (RPi LAN side)

services:
    ssh_service:
        build:
            context: ./components/ssh/
            tags:
                - ssh:v1.2.0

    router:
        container_name: router
        ports:
            - 4000:22
        environment:
            - ENABLE_NAT_ON=aux0
            - FRR_AUTO_CONF=no
            - TRIPLE_PLAY=no
        build:
            context: ./components/router
            tags:
                - router:v1.2.0
        privileged: true
        hostname: router
        volumes:
            - ./config/staticd.conf:/etc/frr/staticd.conf
        depends_on:
            - ssh_service

    # NOTE: CPE service removed - using physical RPi with OpenWrt instead

    wan:
        container_name: wan
        build:
            context: ./components/wan
            tags:
                - wan:v1.2.0
        ports:
            - 4001:22
            - 8001:8080
        environment:
            - DNS_UPSTREAM=8.8.8.8
            - LEGACY=no
        privileged: true
        hostname: wan
        depends_on:
            - ssh_service

    sipcenter:
        container_name: sipcenter
        build:
            context: ./components/sip
            tags:
                - sip:v1.2.0
        ports:
            - 4005:22
        environment:
            - KAM_LISTEN_IPv4=172.25.1.5
            - KAM_LISTEN_IPv6=2001:dead:beef:2::5
            - KAM_LISTEN_ALIAS=sipcenter.boardfarm.com
            - LEGACY=no
        privileged: true
        hostname: sipcenter
        depends_on:
            - ssh_service

    phone-image:
        build:
            context: ./components/phone
            tags:
                - phone:v1.2.0
        depends_on:
            - ssh_service

    lan-phone:
        container_name: lan-phone
        image: phone:v1.2.0
        ports:
            - 4006:22
        environment:
            - LEGACY=no
        privileged: true
        hostname: lan-phone
        depends_on:
            - phone-image

    wan-phone:
        container_name: wan-phone
        image: phone:v1.2.0
        ports:
            - 4007:22
        environment:
            - LEGACY=no
        privileged: true
        hostname: wan-phone
        depends_on:
            - phone-image

    wan-phone2:
        container_name: wan-phone2
        image: phone:v1.2.0
        ports:
            - 4008:22
        environment:
            - LEGACY=no
        privileged: true
        hostname: wan-phone2
        depends_on:
            - phone-image

    lan:
        container_name: lan
        build:
            context: ./components/lan
            tags:
                - lan:v1.2.0
        ports:
            - 4002:22
            - 8002:8080
        environment:
            - LEGACY=no
        privileged: true
        hostname: lan
        depends_on:
            - ssh_service

    dhcp:
        container_name: dhcp
        build:
            context: ./components/dhcp
            tags:
                - dhcp:v1.2.0
        ports:
            - 4003:22
        environment:
            - LEGACY=no
        privileged: true
        hostname: dhcp
        volumes:
            - ./config/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf
            - ./config/kea-dhcp6.conf:/etc/kea/kea-dhcp6.conf
        depends_on:
            - ssh_service

    mongo:
        image: mongo:4.4
        restart: always
        privileged: true
        container_name: mongo
        hostname: mongo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=bigfoot1
            - MONGO_DATA_DIR=/data/db
            - MONGO_LOG_DIR=/var/log/mongodb
        volumes:
            - data_db:/data/db
            - data_configdb:/data/configdb
        ports:
            - 27017:27017

    acs:
        depends_on:
            - mongo
        build:
            context: ./components/acs
            tags:
                - acs:v1.2.0
        restart: always
        container_name: acs
        hostname: acs
        environment:
            - LEGACY=no
            - GENIEACS_UI_JWT_SECRET=bigfoot1
            - GENIEACS_CWMP_ACCESS_LOG_FILE=/var/log/genieacs/genieacs-cwmp-access.log
            - GENIEACS_NBI_ACCESS_LOG_FILE=/var/log/genieacs/genieacs-nbi-access.log
            - GENIEACS_FS_ACCESS_LOG_FILE=/var/log/genieacs/genieacs-fs-access.log
            - GENIEACS_UI_ACCESS_LOG_FILE=/var/log/genieacs/genieacs-ui-access.log
            - GENIEACS_DEBUG_FILE=/var/log/genieacs/genieacs-debug.yaml
            - GENIEACS_EXT_DIR=/opt/genieacs/ext
            - GENIEACS_MONGODB_CONNECTION_URL=mongodb://admin:bigfoot1@mongo:27017
        privileged: true
        ports:
            - 4503:22
            - 7547:7547
            - 7557:7557
            - 7567:7567
            - 3000:3000
        volumes:
            - opt_volume:/opt

    raikou-net:
        container_name: orchestrator
        image: ghcr.io/ketantewari/raikou/orchestrator:v1
        volumes:
            - /lib/modules:/lib/modules
            - /var/run/docker.sock:/var/run/docker.sock
            - ./config_openwrt.json:/root/config.json
        privileged: true
        environment:
            - USE_LINUX_BRIDGE=false
        pid: host
        network_mode: host
        hostname: orchestrator
        depends_on:
            - router
            - wan
            - lan
            - dhcp
            - acs
            - sipcenter
            - lan-phone
            - wan-phone
            - wan-phone2

volumes:
    data_db:
    data_configdb:
    opt_volume:


networks:
    default:
        ipam:
            config:
                - subnet: 192.168.55.0/24
                  gateway: 192.168.55.1

